.vscode/**
src/**
scripts/**
test-fixtures/**
**/.exports/**
node_modules/.cache/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/testing/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/.github/**
node_modules/**/.vscode/**
node_modules/**/docs/**
**/*.ts
**/*.map
tsconfig.json
package-lock.json
.git/**
.gitignore
third-party-licenses.json
